.btnGroup {
    display: flex;
    justify-content: center;
  }
  .btnGroup button{
    background-color: #8a2b06;
    color: white;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .input{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }

  .input input{
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
