.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 20px;
}
.signup-heading{
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}
.signup-form-container{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-form{
    border: 2px solid white;
    border-radius: 20px;
}
.form-field{
    display: flex;
    flex-direction: column;
    margin: 15px;
}
.label{
    margin: 7px;
}
.input-div {
    margin: 7px;
    border-bottom: 2px solid white;
}
.input{
    color: rgb(17, 16, 16);
    width: 250px;
}
.login-div{
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lgn{
    cursor: pointer;
    text-decoration: none;
    color: rgb(207, 19, 19);
}
.btn-div{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    border: 2px solid white;
    border-radius: 20px;
    outline: none;
    width: 100px;
    height: 40px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.SGB1 {
    border: none;
    outline: none;
    background: none;
    color: white;
    cursor: pointer;
    text-decoration: underline;
}
.signup-btn{
    background-color: rgb(0, 56, 0);
}
.LG{
    background-color: rgb(3, 0, 52);
}